name: Sync GitHub to cPanel (FTP)

on:
  push:
    branches:
      - main   # only this branch deploys

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install lftp
        run: sudo apt-get install -y lftp
      # - name: Test SFTP login
      #   env:
      #     HOST: ${{ secrets.CPANEL_FTP_HOST }}
      #     USER: ${{ secrets.CPANEL_FTP_USER }}
      #     PASS: ${{ secrets.CPANEL_FTP_PASS }}
      #     REMOTE_DIR: ${{ secrets.CPANEL_REMOTE_DIR }}
      #   run: |
      #     lftp -u "$USER","$PASS" sftp://$HOST -e "ls; quit"

      - name: FTP Sync to cPanel
        env:
          HOST: ${{ secrets.CPANEL_FTP_HOST }}
          USER: ${{ secrets.CPANEL_FTP_USER }}
          PASS: ${{ secrets.CPANEL_FTP_PASS }}
          REMOTE_DIR: ${{ secrets.CPANEL_REMOTE_DIR }}
        run: |
          lftp -u "$USER","$PASS" ftp://$HOST <<EOF
          set ftp:ssl-allow yes
          set ftp:ssl-force no
          set ftp:ssl-protect-data no
          set ssl:verify-certificate no
          set net:max-retries 2
          set net:timeout 20
          mirror --reverse --delete --verbose \
            --exclude-glob .git/* \
            --exclude-glob .github/* \
            --exclude-glob node_modules/* \
            --exclude-glob vendor/* \
            ./ $REMOTE_DIR
          quit
          EOF
